body {
    font-family: "Agency FB";
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #555;
}

tr:nth-child(even) {
    background-color: #444;
}

input[type="submit"], button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: white;
}

input[type="number"], input[type="text"] {
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 20px;
}

.success, .error {
    color: #38a169; /* For success messages */
    margin-bottom: 20px;
}

.error {
    color: red; /* For error messages */
}

a {
    color: blue;
}

a:hover {
    color: #007bff;
}