<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>us
    <meta charset="UTF-8">
    <title>Unsecured Page</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="center-block">
    <h1>Hello User</h1>
    <h2>Main Menu, and anyone can access it.</h2>
    <h2>You can access the secured page after authenticating yourself properly.</h2>

    <h3><a th:href="@{/secured/user}">Authenticate User</a></h3>
    <h3><a th:href="@{/register}">Register</a></h3>
</div>

</body>
</html>